{% load static %}
<!-- Footer Start -->
<footer id="footer" class="footer-style-2">
    <div class="footer-widget">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="widget widget-newsletter">
                        <div class="widget-title">
                            <a class="weatherwidget-io" href="https://forecast7.com/en/9d5676d79/kanjirappally/" data-label_1="KANJIRAPPALLY" data-label_2="WEATHER" data-theme="original" >KANJIRAPPALLY WEATHER</a>
<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
</script>
                            <h5>Subscribe to our Newsletter</h5>
                        </div>
                        <div class="fieldset">
                            <form action="#">
                                <div class="field-holder">
                                    <label>
                                        <i class=" icon-envelope3"></i>
                                        <input type="text" class="field-input" placeholder=" Enter Your Email Address...">
                                    </label>
                                </div>
                                <div class="field-holder btn-holder">
                                    <input class="subscribe-btn bgcolor" type="submit" value="Sign Up">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
           
    </div>
    <div class="copyright-sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="copyright-inner">
                        <div class="copy-right">
                            <p>© 2022 Green Thumb Indoor Plant Hub. All Rights Reserved. Developed By <a href="#">Jenma</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div> <!-- /.cs-copyright -->
</footer>
<!-- Footer End -->
</div>

	
	<!-- Modal Popup End -->
	<script src="{% static 'js/scripts.js' %}"></script>
	<script src="{% static 'js/functions.js' %}"></script>
</body>

</html>